* {
    box-sizing: border-box;
}

.container-text {
    display: flex;
    flex-direction: column;
}

.searchImg > img {
    width: 50%;
    margin-left: 1em;
}

.row {
    padding-top: 1em;
}
.nav-item {
    margin-left: .5em;
}