* {
    box-sizing: border-box;
}

.container-text {
    display: flex;
    flex-direction: column;
}

.searchImg>img {
    width: 50%;
    margin-left: 1em;
}

.row {
    margin: 0 auto;
    width: 75%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.factBox {
    margin: 0 auto;
    width: 75%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar {
    background-color: lightgray;
}

.searchResults>.row:nth-child(even) {
    background-color: lightgray;
}

.searchResults>.row:nth-child(odd) {
    background-color: lightsteelblue;
}

.nav-item {
    margin-left: .5em;
}